@charset "UTF-8";

body
{
    margin: 0;
}

.menu-hover-button
{
    position: fixed;
    width: 56px;
    height: 56px;
    background-color: red;
    bottom: 25px;
    right: 25px;
}

.menu-operations
{
    position: fixed;
    height: 56px;
    line-height: 56px;
    text-align: right;
    bottom: 25px;
    right: 81px;
}

.fleet-list
{
    position: fixed;
    width: 300px;
    max-height: 350px;
    bottom: 81px;
    right: 25px;
    font-size: 0;
    box-sizing: border-box;
    overflow: auto;
    /* background-color: rgba(255,255,255,.5); */
    /* backdrop-filter: blur(5px); */
}

/*-- fleet entry --*/
.fleet-list .fleet-entry
{
    text-align: right;
    margin: 10px;
}

.fleet-entry .inline-contain
{
    display: inline-block;
    position: relative;
}

.inline-contain .overflow-contain
{
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
}

.inline-contain .label
{
    position: absolute;
    visibility: hidden;
    height: 18px;
    top: 5px;
    right: 100%;
    margin-right: 7px;
    font-size: 13px;
    color: white;
    background-color: #313131;
    padding: 0 6px 2px 6px;
    border-radius: 4px;
    opacity: 0;
    transition: visibility 0s .15s,opacity .15s;
}

.fleet-entry .inline-contain:hover .label
{
    opacity: 1;
    visibility: visible;
    transition: opacity .15s;
}

.fleet-entry img
{
    padding: 3px;
}

/*-- fleet entry class colours --*/
.fleet-list .fleet-entry img.CL
{
    background-color: #deaa31;
}

.fleet-list .fleet-entry img.CA
{
    background-color: #c57d21;
}

.fleet-list .fleet-entry img.CV
{
    background-color: #927cf3;
}

.fleet-list .fleet-entry img.CVL
{
    background-color: #d7c5f2;
}

.fleet-list .fleet-entry img.BB
{
    background-color: #ff695a;
}

.fleet-list .fleet-entry img.DD
{
    background-color: #63c2f7;
}

.fleet-list .fleet-entry img.AR
{
    background-color: #42dead;
}

.fleet-list .fleet-entry img.BM
{
    background-color: #ab3d47;
}