@charset "UTF-8";

body
{
    margin: 0;
}

/*-- menu --*/
.menu-hover-button
{
    position: fixed;
    width: 56px;
    height: 56px;
    /* background-color: red; */
    bottom: 25px;
    right: 25px;
}

.trigger-zone
{
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
}

.menu-operations
{
    visibility: hidden;
    height: 56px;
    line-height: 56px;
    text-align: right;
    padding: 9px 34px 0 34px;
    margin-bottom: 9px;
    box-sizing: border-box;
}

.menu-operations .menu-item.hidden
{
    display: none;
}

/*-- menu hover --*/
.trigger-zone:hover .menu-operations,.trigger-zone:hover .fleet-list,
.trigger-zone.show .menu-operations,.trigger-zone.show .fleet-list
{
    visibility: visible;
}

/*-- menu text input bar --*/
.menu-operations .menu-input
{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    margin: 3px 0 0 0;
    padding: 0 8px 0 8px;
    color: white;
    background-color: #313131;
    font-family: roboto;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 2px 4px 0 rgba(0, 0, 0, 0.07), -1px 2px 4px 0 rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
}

.menu-operations .menu-input:focus
{
    outline: none;
}

@keyframes menu-input-blink
{
    from
    {
        background-color: #313131;
    }

    to
    {
        background-color: #de595a;
    }
}

.menu-operations .menu-input.warning
{
    background-color: #de595a;
    animation-name: menu-input-blink;
    animation-duration: .15s;
    animation-iteration-count: 2;
}

.menu-operations .menu-input.warning::placeholder
{
    color: white;
    opacity: .6;
}

/*-- fleet list general --*/
.fleet-list
{
    visibility: hidden;
    display: inline-block;
    width: 350px;
    max-height: 350px;
    font-size: 0;
    box-sizing: border-box;
    overflow: auto;
    padding-right: 24px;
    /* background-color: rgba(255,255,255,.5); */
    /* backdrop-filter: blur(5px); */
}

/*-- fleet entry --*/
.fleet-list .fleet-entry
{
    text-align: right;
    margin: 10px;
}

.fleet-entry .inline-contain
{
    display: inline-block;
    position: relative;
}

.inline-contain .overflow-contain
{
    display: inline-block;
    min-height: 31px;
    min-width: 31px;
    max-width: 186px;
    background-color: #313131;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.inline-contain .label
{
    position: absolute;
    visibility: hidden;
    height: 18px;
    top: 5px;
    right: 100%;
    padding: 0 6px 2px 6px;
    margin-right: 7px;
    font-size: 13px;
    color: white;
    background-color: #313131;
    opacity: 0;
    border-radius: 4px;
    transition: visibility 0s .15s,opacity .15s;
    white-space: nowrap;
}

.fleet-entry .inline-contain:hover .label
{
    opacity: 1;
    visibility: visible;
    transition: opacity .15s;
}

.fleet-entry img
{
    padding: 3px;
}

/*-- fleet entry class colours --*/
.fleet-list .fleet-entry img.CL
{
    background-color: #deaa31;
}

.fleet-list .fleet-entry img.CA
{
    background-color: #c57d21;
}

.fleet-list .fleet-entry img.CV
{
    background-color: #927cf3;
}

.fleet-list .fleet-entry img.CVL
{
    background-color: #d7c5f2;
}

.fleet-list .fleet-entry img.BB
{
    background-color: #ff695a;
}

.fleet-list .fleet-entry img.DD
{
    background-color: #63c2f7;
}

.fleet-list .fleet-entry img.AR
{
    background-color: #42dead;
}

.fleet-list .fleet-entry img.BM
{
    background-color: #ab3d47;
}

/*-- delete mode --*/
.ftables.delete-mode .ship-table:hover
{
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 7px 3px rgba(0, 0, 0, 0.23), 0 5px 21px rgba(0,0,0,.24);
    cursor: pointer;
}

.ftables.delete-mode .ship-table:hover .title-box
{
    background-color: #f70819;
}

/*-- select mode --*/
.ftables.select-mode .ship-table:hover
{
    box-shadow: 0 0 0 4px #71bfef;
    cursor: pointer;
}

.ftables.select-mode .ship-table.selected
{
    box-shadow: 0 0 0 4px #313131;
}