p
{
    margin: 0;
}

a
{
    vertical-align: top;
    text-decoration: none;
}

/*-- ship table top level --*/
.ship-table
{
    display: inline-block;
    vertical-align: top;
    width: 660px;
    margin: 10px;
    font-size: 0;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    font-family: "noto",roboto,meiryo,"Segoe UI",Arial;
    transition: box-shadow .2s;
}

.ship-table div
{
    display: inline-block;
    vertical-align: top;
}

.ship-table.hidden
{
    display: none;
}

/*-- general element --*/
.title-bar
{
    width: 100%;
    height: 5px;
    background-color: #313131;
}

/*-- title area --*/
.ship-table .title-box
{
    width: 100%;
    height: 30px;
    background-color: #e6dbd6;
    padding-left: 25px;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color .2s;
}

.title-box img
{
    /* height: 30px; */
    height: 50px;
    margin-top: -10px;
}

/*-- country image modification --*/
.title-box img.de,.title-box img.nep
{
    margin-top: -7px;
}

.title-box a
{
    height: 100%;
    font-size: 25px;
    color: #635d5a;
    margin: 0 10px 0 10px;
}

/*-- bottom area --*/
.bottom
{
    width: 100%;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

/*-- left side --*/
.ship-table .left
{
    width: 124px;
}

.left .portrait-zone
{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: black;
    /* border: 4px solid #5A09BD; */
    /* box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1), 0 1px 18px 0 rgba(0,0,0,0.1), 0 3px 5px -1px rgba(0,0,0,0.05); */
}

.portrait-zone .portrait
{
    border: 4px solid black;
}

/*-- rarity colours --*/
.left .portrait-zone.purple
{
    background-color: #c5b6e6;
}

.portrait-zone.purple .portrait
{
    border-color:  #8c71ce;
}

.left .portrait-zone.gold
{
    background-color: #deba6b;
}

.portrait-zone.gold .portrait
{
    border-color:  #f7eb84;
}

.left .portrait-zone.blue
{
    background-color: #6396b5;
}

.portrait-zone.blue .portrait
{
    border-color:  #8cc6de;
}

.left .portrait-zone.grey
{
    background-color: #ced2d6;
}

.portrait-zone.grey .portrait
{
    border-color:  #adaead;
}

/*-- classbox classes --*/
.left .class-box
{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #313131;
    line-height: 20px;
}

.class-box.CL
{
    background-color: #deaa31;
}

.class-box.CA
{
    background-color: #c57d21;
}

.class-box.CV
{
    background-color: #927cf3;
}

.class-box.CVL
{
    background-color: #d7c5f2;
}

.class-box.BB
{
    background-color: #ff695a;
}

.class-box.DD
{
    background-color: #63c2f7;
}

.class-box.AR
{
    background-color: #42dead;
}

.class-box.BM
{
    background-color: #ab3d47;
}

.class-box.BC
{
    background-color: #d94860;
}

.class-box.BBV
{
    background: linear-gradient(0deg, rgba(146,124,243,1) 50%, rgba(255,105,90,1) 50%);
}

.class-box.SS
{
    background-color: #9ed945;
}

.class-box img
{
    height: 16px;
    margin: 2px 2px 0 2px;
}

.class-box .label
{
    height: 20px;
    font-size: 15px;
    color: white;
    margin: 0 2px 0 2px;
}

/*-- equipment box --*/
.left .equip-box
{
    width: 100%;
    text-align: center;
    margin-top: 6px;
    background-color: #efdfde;
    border-radius: 5px;
    overflow: hidden;
}

.equip-box .equip-holder
{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.equip-box .equip-title
{
    width: 60px;
    height: 30px;
    font-size: 11px;
    color: #313131;
    text-align: left;
    line-height: 30px;
}

.equip-box img
{
    display: block;
    background-color: #313131;
    border-radius: 50%;
}

.equip-box .centre
{
    margin-left: 38px;
}

.equip-box .equipbox-right
{
    display: inline-block;
    vertical-align: top;
    /* margin-left: 68px; */
}

.equip-box .squish
{
    margin-top: -10px;
}

/*-- right side --*/
.ship-table .right
{
    width: 300px;
    margin-left: 10px;
    box-sizing: border-box;
}

/*-- skill zone --*/
.right .skill-zone
{
    width: 100%;
}

.skill-zone .skill-box
{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
    overflow: hidden;
}

.skill-zone .skill-box:last-of-type
{
    margin-bottom: 0px;
}

.skill-box > div
{
    width: 100%;
    box-sizing: border-box;
}

.skill-box .name
{
    height: 18px;
    background-color: #313131;
    color: white;
    font-size: 13px;
    padding: 2px 8px 2px 8px;
}

.skill-box .name.yellow
{
    color: #b5ba4a;
}

.skill-box .name.blue
{
    color: #4abee6;
}

.skill-box .name.red
{
    color: #de595a;
}

.skill-box .description
{
    font-size: 14px;
    color: #4a3d3a;
    background-color: #efdbde;
    /* box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.35); */
    padding: 3px 8px 3px 8px;
}

/*-- right right side --*/
.ship-table .right-right
{
    width: 190px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: #efdfde;
    border-radius: 5px;
    overflow: hidden;
}

.right-right .title-bar
{
    height: 9px;
    color: white;
    font-size: 7px;
    box-sizing: border-box;
    padding-left: 8px;
    letter-spacing: 1.5px;
    line-height: 9px;
}

/*-- stat list/boxes --*/
.stat-list
{
    padding: 0 8px 6px 8px;
}

.stat-list .statbox
{
    width: 50px;
    margin: 4px;
}

.statbox > div
{
    width: 100%;
    text-align: center;
}

.img-holder img
{
    height: 25px;
}

.statbox .text
{
    height: 25px;
    font-size: 20px;
    color: #4a3d3a;
}

.statbox.armour
{
    height: 25px;
    width: auto;
}

.statbox.armour .img-holder
{
    width: 50px;
}

.statbox.armour .text
{
    width: auto;
}

/*-- scalestat --*/
.img-holder .scalestat
{
    height: 25px;
    width: 25px;
}

.scalestat.hp
{
    -webkit-mask-image: url("/shiptable/icon/hp.png");
}

.scalestat.gun
{
    -webkit-mask-image: url("/shiptable/icon/gun.png");
}

.scalestat.torp
{
    -webkit-mask-image: url("/shiptable/icon/torp.png");
}

.scalestat.dodge
{
    -webkit-mask-image: url("/shiptable/icon/dodge.png");
}

.scalestat.plane
{
    -webkit-mask-image: url("/shiptable/icon/plane.png");
}

.scalestat.aa
{
    -webkit-mask-image: url("/shiptable/icon/aa.png");
}

.scalestat
{
    background-color: #4a3d3a;
}

.statbox.A .scalestat,.statbox.S .scalestat
{
    background-color: #cea642;
}

.statbox.A .text,.statbox.S .text
{
    color: #cea642;
}

.statbox.B .scalestat
{
    background-color: #9c68ba;
}

.statbox.B .text
{
    color: #9c68ba;
}

.statbox.C .scalestat
{
    background-color: #71bfef;
}

.statbox.C .text
{
    color: #71bfef;
}

.statbox.D .scalestat
{
    background-color: #848284;
}

.statbox.D .text
{
    color: #848284;
}

.statbox.E .scalestat
{
    background-color: #bd8673;
}

.statbox.E .text
{
    color: #bd8673;
}