@charset "UTF-8";

body
{
    margin: 0;
    font-family: "noto",roboto,meiryo,"Segoe UI",Arial;
}

p
{
    margin: 0;
}

span
{
    vertical-align: top;
}

/*-- popup buttons --*/
.button
{
    cursor: pointer;
}