@charset "UTF-8";

body
{
    margin: 0;
    font-family: "noto",roboto,meiryo,"Segoe UI",Arial;
}

p
{
    margin: 0;
}

span
{
    vertical-align: top;
}

.buttons
{
    height: 30px;
    white-space: nowrap;
    font-size: 0;
    margin: 0 10px 10px 10px;
    text-align: right;
}