@charset "UTF-8";

body
{
    margin: 0;
    min-width: 140px;
    font-family: "noto",roboto,meiryo,"Segoe UI",Arial;
}

p
{
    margin: 0;
}

span
{
    vertical-align: top;
}

.buttons
{
    height: 30px;
    white-space: nowrap;
    font-size: 0;
    margin: 10px;
    text-align: right;
}

.buttons.hidden
{
    text-align: center;
}

.buttons.hidden .save
{
    display: none;
}

.title
{
    width: 100%;
    /* height: 30px; */
    color: #635d5a;
    font-size: 12px;
    letter-spacing: 1px;
}

.title .spacer
{
    display: inline-block;
    vertical-align: top;
    height: 9px;
    width: 55px;
    background-color: #635d5a;
    margin-top: 2px;
    clip-path: polygon(0% 0%,0% 100%,100% 100%,90% 0%);
}